<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        <title>{% block title %}symblog{% endblock %} - symblog</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
	    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>	
            <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <section id="wrapper">
            <header id="header">
                <div class="top">
                    {% block navigation %}
                        <nav>
                            <ul class="navigation">
								<li><span href="#">Rene Recalde<span> </li>	
                                <li><a href="{{ path('ReneBlogBundle_homepage') }}">Home</a></li>
                                <li><a href="{{ path('ReneBlogBundle_about') }}">Tec</a></li>
                                <li><a href="{{ path('ReneBlogBundle_contact') }}">Contacto</a></li>
                            </ul>
                        </nav>
                    {% endblock %}
                </div>

                <hgroup>
                	<div class="contenedor">
	                	<div class="lateral">
                			<img src="{{asset('img/logo.png') }}" alt="Blog" />
                    	</div>
                    	<div class="principal">
                    		<h1>Bienvenido al Blog</h1>
                    		<p>
                    			uju is DevOps Distilled. Through the use of charms, juju allows you to easily deploy services according to best practices. You can use charms unmodified, or easily change and connect them to fit your needs. This site allows you to browse the available charms.
                    		</p>
                    	</div>
                    </div>
                    	
                
                </hgroup>
            </header>

            <section class="main-col">
                {% block body %}{% endblock %}
            </section>
            <aside class="sidebar">
                {% block sidebar %}{% endblock %}
            </aside>

            <div id="footer">
                {% block footer %}
                    Symfony2 blog tutorial - created by <a href="https://github.com/dsyph3r">dsyph3r</a>
                {% endblock %}
            </div>
        </section>

        {% block javascripts %}{% endblock %}
    </body>
</html>
