{# empty Twig template #}
{% extends 'ReneBlogBundle::base.html.twig' %}

{% block title %}Contacto{% endblock%}

{% block body %}
    <header>
        <h1>Contactese con el blog</h1>
    </header>

{% if app.session.hasFlash('blogger-notice') %}
    <div class="blogger-notice">
        {{ app.session.flash('blogger-notice') }}
    </div>
{% endif %}


    <p>Envienos un mensaje a traves de este formulario.</p>

    <form action="{{ path('ReneBlogBundle_contact') }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

       	{{ form_row(form.name,{ 'label': 'Nombre' }) }}
        
        {{ form_row(form.email) }}
        {{ form_row(form.subject,{ 'label': 'Asunto' }) }}
        {{ form_row(form.body,{ 'label': 'Mensaje' }) }}

        {{ form_rest(form) }}

        <input type="submit" value="Enviar" />
    </form>
{% endblock %}