{# La vista de los blogs. #}
{# src/Blogger/BlogBundle/Resouces/views/Blog/show.html.twig #}
{% extends 'ReneBlogBundle::base.html.twig' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block body %}
    <article class="blog">
        <header>
        	
            <div class="date"><time datetime="{{ blog.created|date('c') }}"> {{ blog.created|date('l j ') }}de {{ blog.created|date('F ') }} del {{ blog.created|date('Y') }} </time></div>
            
            <h2>{{ blog.title }}</h2>
        </header>
        <img src="{{ asset(['img/', blog.image]|join) }}" alt="{{ blog.title }} imagen no encontrada" class="large" />
        <div>
            <p>{{ blog.blog }}</p>
        </div>
    </article>
    <section class="comments" id="comments">
        <section class="previous-comments">
            <h3>Comentarios</h3>
            {% include 'ReneBlogBundle:Comment:index.html.twig' with { 'comments': comments } %}
        </section>
        <h3>Agregar Comentarios</h3>
            {% render 'ReneBlogBundle:Comment:new' with { 'blog_id': blog.id } %}
    </section>
{% endblock %}