{# Vista index de los comentarios. #}
{# src/Blogger/BlogBundle/Resources/views/Comment/index.html.twig #}


{% for comment in comments %}
    <article class="comment {{ cycle(['odd', 'even'], loop.index0) }}" id="comment-{{ comment.id }}">
        <header>
            <p><span class="highlight">{{ comment.user }}</span> comentó <time datetime="{{ comment.created|date('c') }}">{{ comment.created|created_ago }}</time></p>
        </header>
        <p>{{ comment.comment }}</p>
    </article>
{% else %}
    <p>No hay comentarios para este Post. Sea el primero en comentar...</p>
{% endfor %}